@import "./custom/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

header,
footer{
    background-color: $gray-900;
    color: $white;
}

body {
    background-color: $gray-600;
}

